<div class="container">
  <h1>My tasks</h1>
    <ul>
        <li>
        <% @tasks.each do |task| %>
                <input type="checkbox" <% task.completed ? "checked" : "" %>> 
                <%= link_to task.title, task_path(task) %>
                <% link_to "Delete",task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure"} %>
        <% end %>
        </li>
    </ul>
</div>
